.stacks {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.tech {
  width: 120px;
  height: 120px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech p {
  width: 100%;
  text-align: center;
}

.stacks-mobile {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tech-mobile {
  width: 80px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-mobile-logo {
  width: 80px;
  /* background-color: aqua; */
  border-radius: 50%;
}

.tech-mobile-logo img {
  width: 80%;
}

.tech-mobile p {
  width: 100%;
  text-align: center;
}
/* PDEV */

.pdev__card {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 5px;
  /* background-color: var(--dark-blue2); */
  background-color: var(--dark-blue2);
  border-bottom: 3px solid var(--medium-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdev__details {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem;
}

.pdev__title {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1;
  color: var(--text-gold);
}

.pdev__institution {
  margin-top: 0.5rem;
  line-height: 0.8;
  font-size: 0.8rem;
  color: #ccc;
}

.pdev__logos {
  gap: 0.5rem;
}

.pdev__logo {
  height: 25px;
  width: 100px;
}

.pdev__logo img {
  height: 100%;
  width: 100%;
  border-radius: 12.5px;
}

.pdev__action {
  margin-top: 2rem;
}

/*  */
.pdev__card2 {
  padding: 5px;
  /* background-color: var(--dark-blue2);
  border-bottom: 3px solid var(--medium-blue); */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid green; */
  position: relative;
}

.pdev2--img {
  object-fit: cover;
}
