.stacks {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.tech {
  width: 120px;
  height: 120px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech p {
  width: 100%;
  text-align: center;
}

.stacks-mobile {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tech-mobile {
  width: 80px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-mobile-logo {
  width: 80px;
  /* background-color: aqua; */
  border-radius: 50%;
}

.tech-mobile-logo img {
  width: 80%;
}

.tech-mobile p {
  width: 100%;
  text-align: center;
}
