.navlink {
  font-family: "Roboto";
  font-weight: bold;
  text-transform: uppercase;
}

.navlink:hover {
  color: var(--text-gold);
}

.navbar__socials {
  gap: 0.8rem;
}

.navbar__socials img {
  height: 30px;
}
