* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Exo 2', sans-serif;
  font-family: 'Poppins', sans-serif; */
  font-family: "Prompt", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Work Sans', sans-serif; */
  color: #eee;
}

/* variables for easy reuse*/
:root {
  /* colors */
  --primary-color: #1a5559;
  --dark-blue: #051923;
  --dark-blue2: #041d29;
  --medium-blue: #25354c;
  --light-blue: #004e7a;
  --hightlighted-text: goldenrod;
  --text-gold: goldenrod;
  --font-primary: #f8f9fa;
  --light-gold: hsl(43, 79%, 87%);
}

body {
  background-color: var(--dark-blue);
  /* background-image: linear-gradient(
    to bottom,
    var(--medium-blue),
    var(--dark-blue)
  ); */

  /* background-image: linear-gradient(
    to bottom,
    var(--dark-blue),
    var(--medium-blue)
  ); */

  min-height: 100vh;
  width: 100%;
  margin-inline: auto;
}

img {
  display: block;
}

button:hover {
  color: var(--hightlighted-text);
}

section {
  /* border: 1px solid red; */
  width: 100%;
  padding: 20px;
}
/* global classes */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section {
  scroll-snap-align: "center";
}

.section__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1.5rem;
}

.logo {
  height: 80px;
  width: 80px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 50px;
}

/* start of maayos na */

.section {
  /* border: 1px solid red; */
  width: 100%;
  padding: 20px;
}

.section__title {
  font-size: 2rem;
}

.section__subtitle {
  font-size: 1.5rem;
}

.section__content--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
